@page "/"

<PageTitle>Home</PageTitle>

<h1>Advent of Code 2023</h1>

Welcome to Mike Quigley's Advent of Code 2023 solutions. This year I'm using Blazor and .NET 8. Each day will have its own page, and source code will be posted to <a href="https://github.com/mquig42/AdventOfCode2023">my GitHub</a>.

<ul>
    <li><a href="Day00">Day 0</a></li>
</ul>
