@page "/"

<style>
body {
  background-image: url(/media/snow.gif);
}
</style>

<PageTitle>Home</PageTitle>

<img style="float:left" src="/media/snowman.gif" />
<h1 style="float:left">Advent of Code 2023</h1>
<img style="float:left" src="/media/snowman.gif" />
<p style="clear: both;"></p>

<p>Welcome to Mike Quigley's Advent of Code 2023 solutions. This year I've decided to make a .NET 8 Blazor Web App. Each day will have its own page, and source code will be posted to <a href="https://github.com/mquig42/AdventOfCode2023">my GitHub</a>.</p>
<p>This will be my fifth year of participating in this competition. Previous solutions are also on GitHub. I used Python in 2019 and 2020, and Racket in 2021 and 2022.</p>

<ul>
    <li><a href="Day01">Day 1</a></li>
    <li><a href="Day02">Day 2</a></li>
    <li><a href="Day03">Day 3</a></li>
    <li><a href="Day04">Day 4</a></li>
    <li><a href="Day05">Day 5</a></li>
    <li><a href="Day06">Day 6</a></li>
    <li><a href="Day07">Day 7</a></li>
    <li><a href="Day08">Day 8</a></li>
</ul>

<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
<midi-player src="/media/frosty06.mid" autoplay>
</midi-player>

<br /><br />
<img src="/Media/netscape.gif" />